.cointainer {
  width: 100%;
  background-color: #FFF;
  display: grid;
  margin: 5px 0.5px;
  grid-template-rows: repeat(3, 175px);
  grid-template-columns: repeat(5, 20%);
  grid-row-gap: 10px;
}

.item {
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  font-family: sans-serif;
  line-height: 175px;
  color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.itemr {

  &--1 {
    background-color: #E44236;
  }

  &--2 {
    background-color: #B83227;
  }

  &--3 {
    background-color: #D63031;
  }

  &--4 {
    background-color: #E84342;
  }

  &--5 {
    background-color: #FF3031;
  }

  &--6 {
    background-color: #BA2F16;
  }

  &--7 {
    background-color: #EC4849;
  }

  &--8 {
    background-color: #FF3E4D;
  }

  &--9 {
    background-color: #E71C23;
  }

  &--10 {
    background-color: #EA425C;
  }

  &--11 {
    background-color: #E8290B;
  }

  &--12 {
    background-color: #AE1438;
  }

  &--13 {
    background-color: #E83350;
  }

  &--14 {
    background-color: #FF4848;
  }

  &--15 {
    background-color: #FF362E;
  }
}

.itemb {

  &--1 {
    background-color: #3498DB;
  }

  &--2 {
    background-color: #2475B0;
  }

  &--3 {
    background-color: #74B9FF;
  }

  &--4 {
    background-color: #0A79DF;
  }

  &--5 {
    background-color: #4834DF;
  }

  &--6 {
    background-color: #30336B;
  }

  &--7 {
    background-color: #487EB0;
  }

  &--8 {
    background-color: #192A56;
  }

  &--9 {
    background-color: #6A89CC;
  }

  &--10 {
    background-color: #0A3D62;
  }

  &--11 {
    background-color: #4BCFFA;
  }

  &--12 {
    background-color: #0ABDE3;
  }

  &--13 {
    background-color: #25CCF7;
  }

  &--14 {
    background-color: #67E6CD;
  }

  &--15 {
    background-color: #3C40C6;
  }
}

.itemg {

  &--1 {
    background-color: #2ECC72;
  }

  &--2 {
    background-color: #26AE60;
  }

  &--3 {
    background-color: #6AB04C;
  }

  &--4 {
    background-color: #6AB04A;
  }

  &--5 {
    background-color: #BADC57;
  }

  &--6 {
    background-color: #43BE31;
  }

  &--7 {
    background-color: #45CE30;
  }

  &--8 {
    background-color: #10A881;
  }

  &--9 {
    background-color: #1BCA98;
  }

  &--10 {
    background-color: #7CEC9F;
  }

  &--11 {
    background-color: #019031;
  }

  &--12 {
    background-color: #A3CB37;
  }

  &--13 {
    background-color: #75DA8B;
  }

  &--14 {
    background-color: #53E0BC;
  }

  &--15 {
    background-color: #218F76;
  }
}

.itemy {

  &--1 {
    background-color: #EEC213;
  }

  &--2 {
    background-color: #F5C469;
  }

  &--3 {
    background-color: #F4C724;
  }

  &--4 {
    background-color: #F0DD87;
  }

  &--5 {
    background-color: #DFAF2B;
  }

  &--6 {
    background-color: #FAC42F;
  }

  &--7 {
    background-color: #F3B63A;
  }

  &--8 {
    background-color: #FBD28B;
  }

  &--9 {
    background-color: #F3B431;
  }

  &--10 {
    background-color: #FAD02E;
  }

  &--11 {
    background-color: #E5B143;
  }

  &--12 {
    background-color: #F3CC79;
  }

  &--13 {
    background-color: #F9DDA4;
  }

  &--14 {
    background-color: #FFF222;
  }

  &--15 {
    background-color: #E1DA00;
  }
}

.itemgr {

  &--1 {
    background-color: #7B8788;
  }

  &--2 {
    background-color: #99AAAB;
  }

  &--3 {
    background-color: #2C3335;
  }

  &--4 {
    background-color: #616C6F;
  }

  &--5 {
    background-color: #DAE0E2;
  }

  &--6 {
    background-color: #535C68;
  }

  &--7 {
    background-color: #333945;
  }

  &--8 {
    background-color: #2F363F;
  }

  &--9 {
    background-color: #586776;
  }

  &--10 {
    background-color: #8395A7;
  }

  &--11 {
    background-color: #A4B0BD;
  }

  &--12 {
    background-color: #777E8B;
  }

  &--13 {
    background-color: #758AA2;
  }

  &--14 {
    background-color: #47535E;
  }

  &--15 {
    background-color: #4C4B4B;
  }
}

.item:hover {
  transform: translateY(0px) scale(1.1);
  transition-duration: 0.3s;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
  // z-index: 1;
}