.fa-heart-o {
  color: #ff3030;
  font-size: 36px;
  margin: 0 2px;
}

.footer__text>* {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  padding: 5px 0;
}

.footer__text {
  margin-top: 5rem;
  font-family: 'Lato', sans-serif;
  // background-color: #F3F3F7;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.footer_para {
  line-height: 100%;
}

#green {
  color: #06cf4a;
}

@media screen and (max-width: 580px) {

  .footer__text>* {
    font-size: 0.5rem;
  }

  .footer__text {
    margin-top: 2rem;
  }

  .fa-heart-o {
    font-size: 16px;
  }
}